@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/Vision-more-final-logo.png" />
    <p style="margin-top:50px; font-size:large">Learn about company <a href="https://vision-more.com/">Vision & more </a>.</p>
</div>
